absl-py==0.10.0
appnope==0.1.0
astor==0.8.1
backcall==0.2.0
certifi==2020.6.20
cmake==3.18.2.post1
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
dlib==19.21.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
importlib-metadata==2.0.0
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.3.1
matplotlib==3.3.2
numpy 
opt-einsum==3.3.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.8
protobuf==3.13.0
ptyprocess==0.6.0
Pygments==2.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
Shapely==1.7.1
six==1.15.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.50.2
traitlets==5.0.4
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.3.0
