<!doctype html>
<html lang="en">
  <head>
    <title>BOMB - Be Organically More Beautiful</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
  </head>
  <body class='off-white-bg' style='background:url(/static/img/bg.png) no-repeat center; background-size: cover;'>
    {% block content%} {% endblock %}
 
    <script src="static/js/index.js"></script>
  </body>
</html>
