{% extends "base.html" %}
{% block content %}
<div class='flex flex-column w-100'>
  <div class='w-50 ph3 center off-white-bg avenir'>
    <h1 class='f-headline-l f1-m f2'><span class='oren'>BO</span><span class='blu'>MB</span></h1>
    <h2 class='f1-l f2-m f3'><span class='coral'>BE ORGANICALLY</span> <span class='light-blu'>MORE BEAUTIFUL</span></h2>

    <h3 class='f2-ns f3'>Let's decode ingredient lists</h3>
    <div class='bt pa3 b--silver'>
      <input type="file" name="file" id='file'/>
    </div>
    <div class='ba pa3 mv2 b--silver'>
      <input type="checkbox" id="dewarp" name="dewarp">
      <label for="dewarp" class='f5'>Handle curved label</label>
    </div>
    <button class='br1 ph3 pv2 mv2 input-reset ba oren b--orange bg-transparent pointer f5 dim dib' id='submitBtnEn' value="">Process English</button>
    <button class='br1 ph3 pv2 mv2 input-reset ba blu b--purple bg-transparent pointer f5 dim dib' id='submitBtnVn' value="">Process Vietnamese</button>

    <hr/>
    <img id='prodpic' style='display:none;max-width:500px;' src=''/>
    <div id='scorebox' class='pa4 mv3 ba br1 tc b--blue bg-lightest-blue' style='display:none;'><h1 class='f3 ttu tracked'>BOMB's Score</h1><div id='scorearea' class='f-headline fw7'></div><div class=''><p>(<strong>1-4</strong> is low hazard; <strong>5-7</strong> is moderate hazard; <strong>8-10</strong> is high hazard.)</p></div></div>
  </div>
  <div class='w-100 avenir'>
    <div class='mt2' id='result'></div>
  </div>
  <div id='suggestionsbox' class='w-100 avenir off-white-bg'>
  </div>
</div>
<div id='infobar' class='avenir f4 pv2 ph3' style='display: none;'><span id='infobar_msg'></span> <div class='dib fr'><a class='link pointer dim' onclick='javascript:hideInfoBar()'>&times;</a></div></div>
{% endblock %}
