.off-white-bg {
  background-color: #fcfcfc;
}

.oren { color: #F8635C; }
.oren-bg { background: #F8635C; }

.coral { color: #FDBDB2; }
.coral-bg { background-color: #FDBDB2; }

.blu { color: #5070AE; }
.blu-bg { background-color: #5070AE; }

.light-blu { color: #749FC7; }
.light-blu-bg { background-color: #749FC7; }
